<a href="http://vantaymedia.vn/customers/minesensor/guide">User guide</a>
<p><b>Dear our valued customer!</b></p>
<p>Good product make us happy. If there is any bug on the website, please contact us ASAP by:</p>
<ul>
    <li><b>Email: bnqtoan@gmail.com</b></li>
    <li><b>Skype: flexer.buinguyen</b></li>
</ul>
<p>
    <i>To speed up supporting process, you should send us clearly description</i>. Feedbacks should contain these information:
</p>
<ul>
    <li>- The page (URL) has problem</li>
    <li>- Details about problem</li>
    <li>- Screenshot (strongly recommended)</li>
</ul>