.about {

  .content {
    margin: 30px 0;
  }

  .mission {
    img {
      width: 100%;
      margin-bottom: 20px;
    }

    .mission-content {
      margin: 35px 0;
      h3 {
        font-size: 45px;
        font-weight: 600;
        text-transform: uppercase;
        color: $blue;
        margin: 0;
        text-align: center;
        @include breakpoint(992px) {
          font-size: 38px;
        }
      }

      h4 {
        font-size: 18px;
        font-weight: bold;
      }
      p {
        font-size: 18px;
        font-weight: lighter;
        font-family: "open_sanslight";
        margin: 0 0 35px;
      }
    }
  }

  .team {
    img {
      width: 100%;
    }
    .head-team-img {
      margin: 40px 0 10px;
    }

    .team-content {
      margin: 35px 0 50px;
      h3 {
        font-size: 45px;
        font-weight: 600;
        color: $blue;
        margin: 0;
        text-align: center;
        @include breakpoint(992px) {
          font-size: 38px;
        }
      }

      p {
        font-size: 18px;
        font-weight: lighter;
        margin: 0 0 35px;
        font-family: "open_sanslight";
      }
    }

    .member {
      position: relative;
      .desc {
        position: absolute;
        display: none;
        background: $blue-opacity;
        color: #fff;
        top: 0;
        left: 0;
        padding: 15px;
        text-align: center;
        font-size: 14px;
        line-height: 27px;
      }
      .ms-overlay {
        padding: 15px;
        display: none;
        font-size: 16px;
        text-align: center;
        line-height: 1.5em;
        overflow: hidden;
      }
      &:hover {
        .ms-overlay {
          display: block;
        }
      }

      .info {
        text-align: center;
        h4 {
          font-size: 30px;
          text-transform: uppercase;
          font-weight: 600;
          margin: 20px 0 0;
          color: $blue;
          @include breakpoint(992px) {
            font-size: 24px;
          }
        }

        p {
          color: $green;
          font-size: 17px;
          margin: 0;
        }
      }
    }
  }
}