.contact {
  .offices {
    margin: 35px 0;
    h3 {
      font-size: 45px;
      font-weight: 600;
      text-transform: uppercase;
      color: $blue;
      margin: 0;
      text-align: center;
      @include breakpoint(992px) {
        font-size: 38px;
      }
    }

    .container {
      padding: 0 60px;
      @include breakpoint(480px) {
        padding: 0 15px;
      }
    }

    .office-info {
      margin-top: 30px;
      padding: 0 10px;
      h4 {
        margin: 0 0 10px;
        text-transform: uppercase;
        padding-bottom: 10px;
        color: $light-blue;
        font-weight: bold;
        font-size: 27px;
        border-bottom: 1px dashed $blue;
      }

      ul.phone {
        margin: 10px 0;
        padding: 0;
        li {
          display: inline-block;
          list-style: none;
          img {
            height: 35px;
            margin-right: 10px;
          }
          font-size: 18px;
          font-weight: bold;
          margin-right: 20px;
          color: $blue;
        }
      }

      p {
        font-size: 21px;
        color: $blue;
        font-weight: lighter;
        font-family: "open_sanslight";
        margin-bottom: 20px;
      }

      .map {
        img {
          width: 100%
        }
      }
    }
  }

  .contact-form-wrap {
    margin: 40px 0 0;
    background: #fff url(../images/contact/contact-form_01.jpg) 0 0 no-repeat;
    background-size: cover;
    .overlay {
      background-color: $blue-opacity;
      padding: 30px 0;
    }
    .diver {
      background-color: #fff;
      margin: 25px auto
    }
    h3 {
      font-size: 35px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      margin: 0;
      text-align: center;
      @include breakpoint(992px) {
        font-size: 38px;
      }
    }

    form {
      .form-control {
        font-family: "Open Sans", Arial;
        padding: 8px 10px;
        font-size: 18px;
        text-align: center;
        height: inherit;
        border-radius: 0;
        border: none;
        margin-bottom: 15px;
        @include box-shadow(none);
      }

      input[type="submit"] {
        background-color: $light-blue;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
      }

      textarea {
        height: 200px !important;
      }
    }
  }

}