.head-banner {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 580px;
  .overlay {
    height: 100%;
    background-color: $blue-opacity;

    position: relative;

    @include breakpoint(992px) {
      height: 420px;
    }
    @include breakpoint(480px) {
      height: inherit;
    }
  }

  .banner-content {
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 20px auto;

    @include breakpoint(480px) {
      width: 98%;
    }

    h2 {
      font-size: 45px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0;
    }

    .diver {
      background-color: #fff;
    }

    p {
      font-size: 20px;
      font-weight: lighter;
      font-family: "open_sanslight";
    }
  }
}

.about .head-banner,
.partners .head-banner,
.product .head-banner {
  background-image: url(../images/about/about-us_02.jpg);
  .banner-content {
    margin-top: 25%;
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);

    @include breakpoint(480px) {
      position: relative;
      width: 98%;
      top: inherit;
      left: inherit;
      margin: 20px auto;
      @include translate(0, 0);
    }
  }
}

.partners .head-banner {
  background: url(../images/partner/head-partners_03.jpg) center bottom no-repeat;
  background-size: cover;
  height: 560px;
  .overlay {
    height: 100%;
    @include breakpoint(992px) {
      height: 420px;
    }
    @include breakpoint(480px) {
      height: inherit;
    }
  }
}

.product .head-banner {
  background-image: url(../images/product/product-header_02.jpg);
  background-position: center center;
  background-size: cover;
  height: 560px;
  .overlay {
    height: 100%;
  }
}

.contact .head-banner {
  background-image: url(../images/contact/head-contact.jpg);

  .overlay {
    padding-bottom: 20px;
    @include breakpoint(1200px) {
      height: inherit;
    }
  }

  .banner-content {
    margin-top: 50px;
  }

  .container-fluid {
    margin-top: 30px;
    padding: 0 45px;
    @include breakpoint(640px) {
      padding: 0 15px;
    }
    .col-xs-6 {
      text-align: center;
      img {
        display: inline-block;
      }

      &:first-child {
        border-right: 1px dashed #f6f6f6;
        @include breakpoint(640px) {
          border-right: none;
          border-bottom: 1px dashed #f6f6f6;
          margin-bottom: 35px;
          padding-bottom: 30px;
        }
      }
      @include breakpoint(640px) {
        width: 100%;
      }
    }

    p.phone, p.email {
      font-size: 30px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    p.desc {
      font-weight: 600;
      font-size: 17px;
      margin-bottom: 0;
    }
  }
}