
.offices {
  margin: 35px 0;
  h3 {
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    color: $blue;
    margin: 0;
    text-align: center;
    @include breakpoint(992px) {
      font-size: 38px;
    }
  }
  .diver {
    margin: 35px auto;
  }
}

.partner {
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px dashed lighten($blue, 10%);
  .img {
    padding: 15px 20px 20px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .partner-info {
    font-family: 'open_sanslight';
    h4 {
      font-family: 'open_sanssemibold';
      margin: 0 0 15px;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      color: $blue;
    }

    p {
      font-size: 21px;
      font-weight: lighter;
      margin: 0 0 10px;
    }

    p.link a {
      color: #00b7f1;
      font-weight: bold;
    }
  }
  &:last-child {
    border-bottom: 0;
  }
}