.product {
  .product-item {
    margin-bottom: 40px;
    > .row {
      background-color: #e9f8ff;
      margin-right: 0;
    }

    @include breakpoint(992px) {
      .col-md-4.col-xs-12 {
        padding: 0;
      }
    }

    .product-title {
      position: relative;
      height: 385px;
      &.product-1 {
        background-color: $light-blue;
      }
      &.product-2 {
        background-color: $blue;
      }
      &.product-3 {
        background-color: #00707e;
      }
      h3 {
        margin: 0;
        color: #fff;
        font-weight: 600;
        font-size: 45px;
        height: auto;
      }

      p {
        font-size: 21px;
        font-weight: lighter;
        margin: 0;
        color: #fff;
      }

      .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        @include translate(-50%, -50%);
      }
    }

    .img {
      padding: 30px 0;
    }

    .container {
      padding: 0 30px;
    }

    .product-description {
      h3 {
        margin: 30px 0;
        font-weight: 600;
        font-size: 40px;
        color: $blue;
      }

      p {
        font-family: 'open_sanslight';
        font-size: 21px;
        font-weight: lighter;
        margin: 0 0 20px;
        &.highlight, a {
          color: $light-blue;
          font-weight: bold;
        }
      }

      ul {
        margin: 20px 0;
        padding: 0;
        li {
          font-family: 'open_sanslight';
          font-size: 21px;
          margin-bottom: 10px;
          list-style: none;
          font-weight: lighter;
        }
      }

      .pull-left, .pull-right {
        width: 50%;
      }
    }
  }
}