body {
	font: 15px/32px "Open Sans";
	background-color: #fff;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: $blue;
}
*:focus {
	outline: 0;
}

.diver {
	width: 90px; background-color: $blue; height: 1px;
	margin: 20px auto;
}

@mixin breakpoint($media) {
   @media only screen and (max-width: $media + 1) { @content; }
}

@include breakpoint(480px) {
    .contact, .about, .products, .partner{
      .col-xs-4 { width: 98% !important; }
      .col-xs-6 { width: 98%; }
    }
}