.site-footer{
	padding: 15px 0;
	background-color: $blue;

	p.copyright {
		margin: 0; color: #fff; font-size: 16px;
		font-weight: lighter;
		@include breakpoint(992px) { text-align: center; }
	}

	ul{
		text-align: right; margin: 0; padding: 0;
		@include breakpoint(992px) { text-align: center; }
		li{
			display: inline-block;
			margin: 0 10px; font-weight: 600;
			a { color: #fff; }

			@include breakpoint(480px) {
				margin: 15px 0; list-style: none;
				display: block;
			}
		}
	}
}

.contact .site-footer{
	margin-top: 0;
	background-color: #fff;

	p.copyright { color: $blue; }
	a { color: $blue; }
}