.site-header{
	padding: 15px 0;
	.logo {
		text-align: center;
		img {
			width: 100%;
			@include breakpoint(768px) {
				width: inherit;
				display: inline-block;
			}

			@include breakpoint(320px) {
				width: 100%;
			}
		}
	}

	.main-nav{
		ul {
			text-align: right; margin: 10px 0 0;
			padding: 0;
			@include breakpoint(768px) {
				text-align: center;
				margin: 20px 0 15px;
			}
			@include breakpoint(480px) { display: none; }
		}
		li {
			list-style: none; display: inline-block;
			margin: 0 20px;
			a{
				color: $text-color;
				font-size: 16px;
				&:hover {
					border-bottom: 3px solid $blue;
				}
			}
			&.active{
				a { border-bottom: 3px solid $blue; }
			}

			@include breakpoint(480px) {
				display: block;
				margin: 10px 0;
			}

		}

		.menu-stack{
			margin: 15px 0 10px; display: none;
			text-align: center;
			background-color: #ddd;
			padding: 4px 0; cursor: pointer;
			text-transform: uppercase;
			a { color: #111; }
			@include breakpoint(480px) { display: block; }
		}
	}
}