body {
  font-family: "open_sansregular";
}
p{
  margin: 0 0 25px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.p-relative {
  position: relative;
}

.bg-grey {
  background-color: $grey-color;
}