@media(max-width: $screen-sm-min) {
  .content-section {
    h2 {
      font-size: 43px;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .ms-btn {
      margin-left: auto;
      margin-right: auto;
    }
    .home-product{
      &.image-left{
        img{
          margin-bottom: 40px;
        }
      }
      &.image-right{
        img {
          margin-top: 70px;
        }
      }
    }
  }
  #testimonial{
    height: 720px;
    h4{
      margin-top: 25px;
    }
  }

  .product .product-item .product-description p, .product .product-item .product-description ul li{
    font-size: 16px;
  }
  .product .product-item .product-title h3{
    font-size: 35px;
    line-height: 1.8em;
  }
}

@media(max-width: $screen-xs-min) {
  #top-banner {
    .ms-h2 {
      margin-top: 80px;
    }
  }
  .site-header .main-nav li{
    margin-left: 10px;
    margin-right: 10px;
  }
}