@media (max-width: $screen-lg-min) and (min-width: $screen-md-min + 1)  {
  #top-banner{
    height: 490px;
    .ms-h2{
      margin-top: 90px;
    }
    img{
      margin-top: 130px;
    }
  }
}

@media(max-width: $screen-md-min) and (min-width: $screen-sm-min){
  #top-banner{
    height: 420px;
    .ms-h2{
      margin-top: 60px;
      font-size: 30px;
      line-height: 40px;
    }
    img{
      margin-top: 150px;
    }
  }
  #testimonial{
    height: 578px;
  }
}