@import "variables";
@import "components";
@import "child/main";
@import "common";
@import "contents";
@import "tablet";
@import "phone";

@media (max-width: 1200px) and (min-width: 768px){
  .product .product-item .product-title h3{
    font-size: 35px;
  }
}

@viewport{
  width: device-width;
}

@-ms-viewport{
  width: device-width;
}

.site-header .main-nav li.current-menu-item a {
  border-bottom: 3px solid #003761;
}
body{
  overflow-x: hidden;
}