#top-banner {
  background: url(../images/home_banner.png) center center no-repeat;
  background-size: cover;
  height: $top-banner-height;
  position: relative;
  .container {
    color: #fff;
  }
  .ms-h2 {
    margin-bottom: 30px;
    margin-top: 120px;
  }
  img{
     margin-top: 90px;
  }
  .ms-btn {
    font-size: 17px;
    line-height: 45px;
    font-weight: 600;
    font-family: "open_sanssemibold";
    padding-top: 0;
    padding-bottom: 0;
  }
}

.holder-section{
  padding-top: 88px;
  padding-bottom: 88px;
}

.content-section {
  @extend .holder-section;
  h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    font-family: "open_sanssemibold";
    text-transform: uppercase;
    color: $main-color
  }

  h3{
    font-size: 40px;
    font-weight: 600;
    font-family: "open_sanssemibold";
    line-height: 57px;
    color: $main-color;
    margin-bottom: 25px;
  }

  h4{
    font-size: 30px;
    font-weight: 600;
    font-family: "open_sanssemibold";
    line-height: 57px;
    color: $main-color;
  }
  p, ul {
    font-size: 18px;
    line-height: 25px;
    font-weight: 100;
    font-family: "open_sanslight";
  }
  ul{
    li{
      margin-bottom: 10px;
    }
    margin-bottom: 25px;
  }
}
.home{
  .site-footer{
    margin-top: 0;
  }
}