.ms-btn{
  display: inline-block;
  &.ms-btn-default{
    color: $secondary-color;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid $secondary-color;
    &:before{
      background: #fff;
    }
    &:hover{
      &:before{
        background: #fff;
      }
      color: $main-color;
      border: 2px solid #fff
    }
  }
  &.ms-btn-info{
    background-color: $secondary-color;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }
}