.line-1{
  display: inline-block;
  width: 74px;
  height: 1px;
  background: $main-color;
  margin-bottom: 25px;
  margin-top: 25px;
}

.line-2{
  display: inline-block;
  width: 100%;
  border-bottom: 1px dashed $main-color;
}

.line-space-25{
  margin-bottom: 25px;
  margin-top: 25px;
}

.line-space-70{
  margin-bottom: 70px;
  margin-top: 70px;
}