#testimonial {
  background: url(../images/product/product-header_02.jpg) center center no-repeat;
  background-size: cover;
  height: 487px;
  position: relative;
  h2 {
    font-size: 45px;
    font-weight: 600;
  }
  h4 {
    font-size: 30px;
    font-weight: 600;
    color: $secondary-color;
  }
  p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 100;
    font-family: "open_sanslight";
  }
  .item {
    b {
      text-align: right;
    }
  }
}

.ms-slide {
  position: relative;
  .owl-next, .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    &:hover{
      i{
        color: $secondary-color;
      }
    }
  }
  .owl-prev {
    left: 0;
  }
  .owl-next {
    right: 0;
  }
}