.ms-h2{
  font: 52px/70px "open_sansregular";
}


@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/open-sans/opensans-bold-webfont.eot');
  src: url('../fonts/open-sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
  url('../fonts/open-sans/opensans-bold-webfont.woff') format('woff'),
  url('../fonts/open-sans/opensans-bold-webfont.ttf') format('truetype'),
  url('../fonts/open-sans/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/open-sans/opensans-light-webfont.eot');
  src: url('../fonts/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/open-sans/opensans-light-webfont.woff') format('woff'),
  url('../fonts/open-sans/opensans-light-webfont.ttf') format('truetype'),
  url('../fonts/open-sans/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/open-sans/opensans-regular-webfont.eot');
  src: url('../fonts/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
  url('../fonts/open-sans/opensans-regular-webfont.ttf') format('truetype'),
  url('../fonts/open-sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/open-sans/opensans-semibold-webfont.eot');
  src: url('../fonts/open-sans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
  url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff'),
  url('../fonts/open-sans/opensans-semibold-webfont.ttf') format('truetype'),
  url('../fonts/open-sans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}