/*
Theme Name: Minesensor
Theme URI: http://vantaymedia.vn
Author: VanTayMedia Dev Team
Author URI: http://vantaymedia.vn
Description: Dedicated project
Version: 1.0.0
License: VTM Lic
License URI: http://vantaymedia.vn
Text Domain: minesensor
Tags: Minesensor
*/

.map iframe {
	width: 100%;
	height: 340px;
}